.ulremovebullets {
    list-style-type: none;
  }

.tasks-container{
  
justify-content: center;


  
  text-align:center;
 
  position:relative
  
  
}
.top-tasks-buttons{
  
  justify-content: center;
  
    
    
}

.task-card-seperator{
  margin:5px;
  display: center;
align-items: center;
justify-content: center;


  
  text-align:center;
  position:center;
}

.title{
  font-family: "Galano Grotesque", sans-serif;
  text-align:center;
}


