.ulremovebullets {
    list-style-type: none;
  }

.tasks-container{
  display: center;
align-items: center;
justify-content: center;


  
  text-align:center;
  position:relative;
  
  
  
}
.top-tasks-buttons{padding: 15px;
  display: center;
  align-items: center;
  justify-content: center;
  
  
    
    text-align:center;
    position:center;
}

.task-card-seperator{
  padding: 1px;
  display: center;
align-items: center;
justify-content: center;


  
  text-align:center;
  position:center;
}


