.request-form{
    
    justify-content: center;
    margin:auto;
    text-align:center;
    
}
.add-friend-title{
   justify-content: center;
   position:relative;
    
    text-align:center;
}

.friend-search-box{
    width:130%
}

.friend-request-button{
    margin-left:20px
}
.friend-list-container{
    justify-content: center;
    margin:auto;
    text-align:center;
    
}
.friend-info{
    text-align: left;
    justify-content: left;
    margin-right:60px
}
.friend-tabs-container{
    margin-bottom:18px;
    font-size: 12px;
    justify-content: center;
    
}
.friend-search-container{
    width:50%;
    margin:auto;
    margin-top:18px;
    margin-bottom: 6px;
    justify-content: center;
    
    position:relative;
}
.remove-friend-button{
    margin-left:20px
}
.friend-list-seperator{
    margin-top:20px
    
}
.accept-decline-seperator{
    margin-right: 15px;
    margin-left:40px
}