.request-form{
    
    justify-content: center;
    margin:auto;
    text-align:center;
    
}
.add-friend-title{
   
    margin:auto;
    text-align:center;
}

.friend-search-box{
    width:130%
}

.friend-request-button{
    margin-left:20px
}
.friend-list-container{
    justify-content: center;
    margin:auto;
    text-align:center;
    
}
.friend-tabs-container{
    margin-bottom:10px;
    font-size: 12px;
    justify-content: center;
    /* justify-content: center;
    margin:auto;
    text-align:center; */
}
.friend-search-container{
    width:50%;
    margin:auto;
    margin-bottom: 15px;
    justify-content: center;
    
    position:relative;
}
.remove-friend-button{
    margin-left:60px
}
.friend-list-seperator{
    margin-top:20px
    
}