 /* .App {
  display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 100%
  
  
  
} */
@import url("https://fonts.googleapis.com/css?family=Galano Grotesque");
.app-modal{padding: 10px;
 
 

  
  
    
    text-align:center;
    
}
.log-modal-pw{
  padding: 5px;
  
}
.reg-modal-pw{
  padding: 5px;
  
}
.completed-badge{
  margin-left:1px

}
.scrollTop {
  position: fixed; 
  width: 100%;
  bottom: 60px;
  align-items: center;
  height: 20px;
  justify-content: center;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
  
left: 30%;

}

.scrollTop:hover{
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(116, 36, 36);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}  */
/* 
.Appcontainer {
  background-color: #c8d8e4;
  min-height: 100vh;
  border: none !important;

  font-size: calc(10px + 2vmin);
  color: rgb(224, 224, 224);
  font-family: "Fauna One";
  margin-bottom: -25px;
  

} */