@import url("https://fonts.googleapis.com/css?family=Galano Grotesque");

.app-modal {
  padding: 10px;
  text-align: center;

}

.tasks-tab {
  justify-content: center;
  text-align: center;
  width: 100%;


}

.spinner-log-in {
  margin: auto;
  text-align: center;
  justify-content: center;
}

.completed-tabs {
  justify-content: center;
  margin-bottom: 30px;
  margin-top: 0px;

}

.log-modal-pw {
  padding: 5px;

}

.reg-modal-pw {
  padding: 5px;

}

.completed-badge {
  margin-left: 1px
}

.tasks-nav {
  position: fixed;
}